<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Event</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <div class="container">
        <h1>Add Event</h1>
 
    
                <form action="/event-add" method="post">
        
            <div class="form-group">
                <label for="event-title">Event Title</label>
                <input type="text" id="event-title" name="title"  required>
            </div>
            <div class="form-group">
                <label for="event-type">Event Type</label>
                <select id="event-type" name="type" >
      
                            <option value="">Select Event Type</option>

    
                    
                    <option value="conference">Conference</option>
                    <option value="seminar">Seminar</option>
                    <option value="workshop">Workshop</option>
                    <option value="meetup">Meetup</option>
                </select>
            </div>
            <div class="form-group">
                <label for="event-date">Date</label>
                <input type="date" id="event-date" name="date"  required>
            </div>
            <div class="form-group">
                <label for="event-Time">Time</label>
                <input type="time" id="event-Time" name="time"  required>
            </div>
            <div class="form-group">
                <label for="event-venue">Venue</label>
                <input type="text" id="event-venue" name="venue" required>
            </div>
            <div class="form-group">
                <label for="event-fees">Fees</label>
                <input type="number" id="event-fees" name="price" min="0" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="event-description">Event Description</label>
                <textarea id="event-description" name="desc" required></textarea>
            </div>
            <div class="form-group">
                <label for="event-url">Event Poster Url</label>
                <input type="url" id="event-url" name="imageUrl" >
            </div>
            <button type="submit">Add Event</button>
        </form>
    </div>
</body>
</html>