<div class = "Notification-card">
    <nav>
        <ul>
          <li><a href="/Analytics-pie" class="event-thread">Attendee <br> Demographics</a></li>
          <li><a href="/Analytics-bar" class="event-thread">Engagement <br> Matrices</a></li>
        </ul>
      </nav>
      <div class="container">
        <div class="chart-card">
          <h2 class="chart-title">Gender</h2>
          <div id="pie-chart1"></div>

        </div>

        <div class="chart-card">
          <h2 class="chart-title">Department</h2>
          <div id="pie-chart2"></div>

        </div>

        <div class="chart-card">
          <h2 class="chart-title">Hobbies and Interests</h2>
          <div id="pie-chart3"></div>

        </div>

      </div>
</div>